body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    background-image: linear-gradient(to right, #e9ecef 25%, #ffffff 75%);
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color for contrast */
    padding: 40px;
    box-sizing: border-box;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: #343a40;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.label {
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: #495057;
}

.icon {
    margin-right: 5px;
}

.accountexist {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

.Login {
    color: white;
}

.input {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 16px;
    color: #495057;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #218838;
    }

.image-preview {
    max-width: 100%;
    max-height: 300px;
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*LOGIN AND SIGN UP PAGE CSS */
.createacc {
    color: white;
    font-size: xx-large;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

.password-input {
    position: relative;
}

.Loginheader1 {
    font-size: 48px;
    margin: 0px;
    color: yellow;
}

.Loginheader2 {
    font-size: 30px;
    margin-top: 0px;
    color: lightcyan;
}

/*HOME PAGE & Share Photos Page CSS */
.homecontainer {
    text-align: center;
}

.image-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.hometext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*CREATE EVENT PAGE*/
.previews-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.scroll-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    z-index: 1;
}

    .scroll-button:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    .scroll-button.left {
        position: absolute;
        left: 10px;
    }

    .scroll-button.right {
        position: absolute;
        right: 10px;
    }

.previews-container {
    display: flex;
    flex-grow: 1;
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
}

.previews {
    display: flex;
    gap: 20px;
    max-width: calc(100% - 80px); /* Adjust based on button width */
}

.preview {
    position: relative;
    min-width: 100px; /* Fixed width for each preview */
    max-width: 100px;
}

    .preview img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .preview button {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        border: none;
        cursor: pointer;
        padding: 2px 5px;
        border-radius: 5px;
    }

        .preview button:hover {
            background: darkred;
        }

/* Add this CSS to your App.css file */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.u_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-header {
    margin-top: 0;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
}

/* .image {
    margin: 10px;
} */

.event-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.event-modal{
    color: red;
}
.face-recognition-container {
    margin-top: 20px;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 10px;
}

.event-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
